<div class="incoming_msg">
  <div class="received_msg">
    <div class="received_withd_msg">
      <span class="user_name"><%= message.user.name %></span>
      <p><%= message.body %></p>
      <span class="time_date"><%= l message.created_at %></span>
    </div>
  </div>
</div>
