<%= render 'layouts/flash_messages' %>

<div>
  <%= link_to "部屋の作成", new_room_path %>
</div>

<div>
  <table>
    <caption>開始前の部屋一覧</caption>
    <thead>
      <tr>
        <th>タイトル</th>
        <th>開始時刻</th>
        <th>終了時刻</th>
        <th>人数</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "room", collection: @unstarted_rooms %>
    </tbody>
  </table>
</div>

<div>
  <table>
    <caption>終了した部屋一覧</caption>
    <thead>
      <tr>
        <th>タイトル</th>
        <th>開始時刻</th>
        <th>終了時刻</th>
        <th>人数</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "room", collection: @ended_rooms %>
    </tbody>
  </table>
</div>

